.todo {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  overflow: hidden;
  &-input {
    max-width: 350px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
  }
  &-btn {
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #2cccff;
    color: #fff;
  }
}
