.product {
  margin: 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  &-list {
    width: 40%;
  }
  &-item-bottom {
    display: flex;
    gap: 0 15px;
  }
  &-item-image {
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  }
  &-content {
    width: 60%;
  }
  &-name {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  &-price {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
  }
  &-size {
    margin-bottom: 10px;
  }
  &-count {
    margin-bottom: 20px;
  }
  &-quantity {
    padding-bottom: 10px;
  }
  &-btn {
    outline: none;
    border: 1px solid #eee;
    cursor: pointer;
  }
  &-input {
    width: 50px;
    outline: none;
    border: 1px solid #ccc;
    text-align: center;
  }
  &-icon {
    font-size: 12px;
  }
  &-buy {
    width: 300px;
    padding: 10px 20px;
    border: 0;
    outline: none;
    background-color: #ff616a;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
}

.active {
  border-color: #ff616a;
}
