.form {
  max-width: 500px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  &-title {
    margin-bottom: 20px;
    text-align: center;
  }
  &-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  &-input {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    outline: none;
  }
  &-btn {
    outline: none;
    background-color: #2c6fff;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }
}
